* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

body {
    background-color: #9c27b0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 4rem auto;
    width: 100%;
}

.h2 {
    font-size: 2.3rem;
    color: #ccc;
    text-decoration: none;
    margin: 15px;
    width: 120px;
    text-align: center;
    padding: 1rem;
}

.h2:hover {
    text-decoration: underline;
    background: #ccc;
    border-radius: 3px;
}

.h2 .fa {
    margin-right: 8px;
}

.menu {
    margin: 1.5rem 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 1.5rem;
}

.menu a {
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #ccc;
    padding: 8px 22px;
    border-radius: 5px;
    color: #333;
}

.menu a:hover {
    background-color: #999;
    color: #fff;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.store-item {
    width: 300px;
    padding: 1rem;
    margin: 0.5rem;
}

.store-item img {
    width: 100%;
    display: block;
    box-shadow: 7px 7px 20px rgba(0. 0. 0. 0.2);
}

#intro {
    text-align: center;
    color: white;
    padding: 50px;
}

#intro h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

